.ac_datagrid--body {
  flex: 1;
  position: relative;

  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  td {
    padding: 0;
    border-right: var(--border);
    > span {
      padding: var(--padding-base);
    }
  }
}

.ac_datagrid--body--aside__panel {
  overflow: hidden;
  border-right: var(--border);
}
.ac_datagrid--body--left_panel {
  overflow: hidden;
}
.ac_datagrid--body--main__panel {
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}
