.ac-datagrid--header {
  flex: none;
  user-select: none;
  position: relative;
  overflow: hidden;
  border: 0 none;
  color: var(--txt-header-color);
  z-index: 10;
  background: var(--header-bg);
  border-bottom: var(--border);
  text-align: center;
  font-weight: var(--font-weight-bold);
}

.ac-datagrid .ac-datagrid--header--aside__panel {
  overflow: hidden;
  border-right: var(--border);
  box-sizing: border-box;
  position: sticky;
  z-index: 20;
  left: 0;
  background: var(--header-bg);
}
.ac-datagrid--header--left_panel {
  overflow: hidden;
}
.ac-datagrid--header--main__panel {
  position: absolute;
  left: 0;
  top: 0;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

.ac-datagrid--header--main__panel--header__table {
  position: absolute;
}
